{% extends 'base.html.twig' %}

{% block title %}{{ 'service_index1'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'service_index1'|trans }}</h1>

    <div>
        {% for type in serviceTypes %}
            <a href="{{ path('service_type_index', {'id' : type.id, 'slug' : type.slug|trans}) }}">{{ type|trans }}</a>
        {% else %}
        {{ 'service_type.no_category_found'|trans }}
        {% endfor %}
        <a href="{{ path('service_index') }}">{{ 'service_type.all_types'|trans }}</a>
    </div>

    <div class="count">
        {{ pagination.getTotalItemCount }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th{% if pagination.isSorted('s.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'service.form.name'|trans, 's.name') }}
                </th>
                <th{% if pagination.isSorted('st.name') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'service.form.service_type'|trans, 'st.name') }}
                </th>
                <th{% if pagination.isSorted('s.priceFrom') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'service.list.price_range'|trans, ['s.priceFrom', 's.priceTo']) }}
                </th>
                <th{% if pagination.isSorted('s.durationFrom') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(pagination, 'service.list.duration_range'|trans, ['s.durationFrom', 's.durationTo']) }}
                </th>
                <th>{{ 'list.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for service in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>
                    <a href="{{ path(
                        'service_show',
                        {'id': service.id, 'slug' : service.slug|trans}) }}">
                        {{ service.name|trans }}
                    </a>
                </td>
                <td>
                    <a href="{{ path(
                        'service_type_index',
                        {'id': service.serviceType.id,'slug' : service.serviceType.slug}) }}">
                        {{ service.serviceType|trans }}
                    </a>
                </td>
                <td>{{ service.priceFrom }} - {{ service.priceTo }}</td>
                <td>{{ service.durationFrom }} - {{ service.durationTo }}</td>
                <td>
                    <a href="{{ path('service_show', {'id': service.id, 'slug' : service.slug|trans}) }}">{{ 'list.action.show'|trans }}</a>
                    {#<a href="{{ path('visit_new') }}">{{ 'visit.action.add'|trans }}</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">{{ 'list.no_results_found'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
