{% extends 'base.html.twig' %}

{% block title %}Service index{% endblock %}

{% block body %}
    <h1>Service index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>PriceFrom</th>
                <th>PriceTo</th>
                <th>DurationFrom</th>
                <th>DurationTo</th>
                <th>IsActive</th>
                <th>DateCreated</th>
                <th>DateUpdated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.priceFrom }}</td>
                <td>{{ service.priceTo }}</td>
                <td>{{ service.durationFrom }}</td>
                <td>{{ service.durationTo }}</td>
                <td>{{ service.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ service.dateCreated ? service.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ service.dateUpdated ? service.dateUpdated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('service_show', {'id': service.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
