{% extends 'base.html.twig' %}

{% block title %}{{ service.name }}{% endblock %}

{% block mainHeader %}{{ service.name|trans }}{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'service.form.description'|trans }}</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.price_from_to'|trans}}</th>
                <td>{{ service.priceFrom ~ '-' ~ service.priceTo }}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.duration_from_to'|trans }}</th>
                <td>{{ service.durationFrom ~ '-' ~ service.durationTo}}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.is_active'|trans }}</th>
                <td>{{ service.isActive ? 'Yes'|trans : 'No'|trans }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('service/_add_service_form.html.twig', { 'form' : addToVisit, 'serviceId' : service.id }) }}
    <a href="{{ path('service_index') }}">{{ 'service.action.index'|trans }}</a>

{% endblock %}
