{% extends 'base.html.twig' %}

{% block title %}{{ service.name }}{% endblock %}

{% block body %}
    <h1>{{ 'service.title'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.name'|trans }}</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.description'|trans }}</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.price_from'|trans }}</th>
                <td>{{ service.priceFrom }}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.price_to'|trans }}</th>
                <td>{{ service.priceTo }}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.duration_from'|trans }}</th>
                <td>{{ service.durationFrom }}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.duration_to'|trans }}</th>
                <td>{{ service.durationTo }}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.is_active'|trans }}</th>
                <td>{{ service.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.date_created'|trans }}</th>
                <td>{{ service.dateCreated ? service.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>{{ 'service.form.date_updated'|trans }}</th>
                <td>{{ service.dateUpdated ? service.dateUpdated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('service/_add_service_form.html.twig', { 'form' : addToVisit, 'serviceId' : service.id }) }}
    <a href="{{ path('service_index') }}">{{ 'service.action.index'|trans }}</a>

{% endblock %}
