{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ service.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>PriceFrom</th>
                <td>{{ service.priceFrom }}</td>
            </tr>
            <tr>
                <th>PriceTo</th>
                <td>{{ service.priceTo }}</td>
            </tr>
            <tr>
                <th>DurationFrom</th>
                <td>{{ service.durationFrom }}</td>
            </tr>
            <tr>
                <th>DurationTo</th>
                <td>{{ service.durationTo }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ service.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>DateCreated</th>
                <td>{{ service.dateCreated ? service.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateUpdated</th>
                <td>{{ service.dateUpdated ? service.dateUpdated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('service_index') }}">back to list</a>

{% endblock %}
