{% extends 'base.html.twig' %}

{% block title %}Edit Visit{% endblock %}

{% block body %}
    <h1>Edit Visit</h1>

    <div class="visit-arrangement-outer">
        <div class="form-content-container">
            {% if visit.visitServices|length > 0 %}
                {{ include('visit/_form.html.twig') }}
                {{ include('visit/_submit_form.html.twig') }}
                {{ include('visit/_cancel_form.html.twig') }}
            {% else %}
                <h2>{{ 'visit.arrange.arrangement_no_services_added'|trans }}</h2>
            {% endif %}
        </div>
    </div>

    <a href="{{ path('service_index') }}">back to service list</a>
{% endblock %}
