{% extends 'base.html.twig' %}

{% block title %}{{ 'visit.title'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'visit.title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>VisitDate</th>
                <th>DateCreated</th>
                <th>DateUpdated</th>
                <th>TotalInclTax</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr>
                <td>{{ visit.id }}</td>
                <td>{{ visit.visitDate ? visit.visitDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ visit.dateCreated ? visit.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ visit.dateUpdated ? visit.dateUpdated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ visit.totalInclTax }}</td>
                <td>
                    <a href="{{ path('visit_show', {'id': visit.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'visit.no'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
