{% extends 'base.html.twig' %}

{% block title %}{{ 'visit.action.newOne'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'visit.action.new'|trans }}</h1>

    {{ include('visit/_form.html.twig') }}

    <a href="{{ path('visit_index') }}">{{ 'visit_index'|trans }}</a>
{% endblock %}