{% extends 'base.html.twig' %}

{% block title %}Visit{% endblock %}

{% block body %}
    <h1>Visit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visit.id }}</td>
            </tr>
            <tr>
                <th>VisitDate</th>
                <td>{{ visit.visitDate ? visit.visitDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateCreated</th>
                <td>{{ visit.dateCreated ? visit.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateUpdated</th>
                <td>{{ visit.dateUpdated ? visit.dateUpdated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>TotalInclTax</th>
                <td>{{ visit.totalInclTax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('visit_index') }}">back to list</a>

    <a href="{{ path('visit_submit', {'id': visit.id}) }}">submit</a>

    {{ include('visit/_delete_form.html.twig') }}
{% endblock %}