{% extends 'base.html.twig' %}

{% block title %}{{ 'vehicle.action.edit'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'vehicle.action.edit'|trans }}</h1>

    {{ include('vehicle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('vehicle_index') }}">{{ 'vehicle.action.edit'|trans }}</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}