{% extends 'base.html.twig' %}

{% block title %}{{ 'vehicle_index1'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'vehicle_index1'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PowerKw</th>
                <th>EngineCapacity</th>
                <th>YearMade</th>
                <th>MonthMade</th>
                <th>DateCreated</th>
                <th>DateUpdated</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.id }}</td>
                <td>{{ vehicle.powerKw }}</td>
                <td>{{ vehicle.engineCapacity }}</td>
                <td>{{ vehicle.yearMade }}</td>
                <td>{{ vehicle.monthMade }}</td>
                <td>{{ vehicle.dateCreated ? vehicle.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ vehicle.dateUpdated ? vehicle.dateUpdated|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('vehicle_show', {'id': vehicle.id}) }}">{{ 'list.action.show'|trans }}</a>
                    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">{{ 'list.action.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('vehicle_new') }}">{{ 'vehicle.action.new'|trans }}</a>
{% endblock %}