{% extends 'base.html.twig' %}

{% block title %}{{ 'vehicle.new'|trans }}{% endblock %}

{% block mainHeader %}{{ 'vehicle.action.new'|trans }}{% endblock %}
{% block body %}

    {{ include('vehicle/_form.html.twig') }}

    <a href="{{ path('vehicle_index') }}">{{ 'vehicle.action.index'|trans }}</a>
{% endblock %}
