{% extends 'base.html.twig' %}

{% block title %}{{ 'vehicle.action.newOne'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'vehicle.action.new'|trans }}</h1>

    {{ include('vehicle/_form.html.twig') }}

    <a href="{{ path('vehicle_index') }}">{{ 'vehicle_index'|trans }}</a>
{% endblock %}