{% extends 'base.html.twig' %}

{% block title %}{{ 'vehicle_index1'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'vehicle_index1'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vehicle.id }}</td>
            </tr>
            <tr>
                <th>PowerKw</th>
                <td>{{ vehicle.powerKw }}</td>
            </tr>
            <tr>
                <th>EngineCapacity</th>
                <td>{{ vehicle.engineCapacity }}</td>
            </tr>
            <tr>
                <th>YearMade</th>
                <td>{{ vehicle.yearMade }}</td>
            </tr>
            <tr>
                <th>MonthMade</th>
                <td>{{ vehicle.monthMade }}</td>
            </tr>
            <tr>
                <th>DateCreated</th>
                <td>{{ vehicle.dateCreated ? vehicle.dateCreated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateUpdated</th>
                <td>{{ vehicle.dateUpdated ? vehicle.dateUpdated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vehicle_index') }}">{{ 'vehicle_index'|trans }}</a>

    <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">{{  'vehicle.action.edit'|trans }}</a>

    {{ include('vehicle/_delete_form.html.twig') }}
{% endblock %}