{% extends 'base.html.twig' %}

{% block title %}{{ 'vehicle.title'|trans }}{% endblock %}

{% block mainHeader %}
    {{ vehicle.model.manufacturer.name ~ ' ' ~ vehicle.model.name ~ ' ' ~ vehicle.literCapacity }} l
{% endblock %}

{% block body %}


    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card">
            <img class="card-img-top" src="{{ asset('images/vehicles/default.jpg') }}" alt="Card image cap">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ vehicle.model.manufacturer.name ~ ' ' ~ vehicle.model.name ~ ' ' ~ vehicle.literCapacity }} l</li>
                    <li class="list-group-item">{{ vehicle.powerKw }} kw</li>
                    <li class="list-group-item">{{ vehicle.yearMade ~ '-' ~ "%02d"|format(vehicle.monthMade)}}</li>
                    <li class="list-group-item">
                        {{ 'vehicle.form.date_created'|trans }}
                        {{ vehicle.dateCreated ? vehicle.dateCreated|date('Y-m-d H:i:s') : '' }}
                    </li>
                    <li class="list-group-item">
                        {{ 'vehicle.form.date_updated'|trans }}
                        {{ vehicle.dateUpdated ? vehicle.dateUpdated|date('Y-m-d H:i:s') : '' }}
                    </li>
                    <li class="list-group-item">
                        <a href="{{ path('vehicle_index', {'id': vehicle.id}) }}">{{ 'vehicle.action.index'|trans }}</a>
                        <a href="{{ path('vehicle_edit', {'id': vehicle.id}) }}">{{ 'vehicle.action.edit'|trans }}</a>
                    </li>
                    <li class="list-group-item">
                        {{ include('vehicle/_delete_form.html.twig') }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}