{{ form_start(form) }}
<tr>
    <td>{{ form.vars.value.name }}</td>
    <td>{{ form.vars.value.description }}</td>
    <td>{{ form.vars.value.price }}</td>
    <td>{{ form.vars.value.duration }}</td>
    <td>{{ form.vars.value.quantity }}</td>
</tr>
{{ form_end(form) }}
